appnope==0.1.0
backcall==0.1.0
cffi==1.7.0
decorator==4.4.0
eyeD3==0.9a1
ipython==7.6.1
ipython-genutils==0.2.0
jedi==0.14.0
parso==0.5.0
pexpect==4.7.0
pickleshare==0.7.5
prompt-toolkit==2.0.9
ptyprocess==0.6.0
pycparser==2.19
Pygments==2.4.2
python-libmagic==0.4.0
python-magic==0.4.15
python-magic-bin==0.4.14
six==1.12.0
traitlets==4.3.2
wcwidth==0.1.7
